* {

  box-sizing: border-box;
}

body {
  font-family: poppins;
  font-family: Arial, Helvetica, sans-serif;
}
ul, nav {
  list-style: none;
}
a{
  text-decoration:none;
  cursor:pointer;
  color: inherit;
  
}
header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-flex;
  display: moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(57, 55, 55);
  padding: 35px 100px 0;
  font-size: 35px;
  color: white;
}
header h2{
  font-size: 1em;
  text-align: center;
}
header span {
  text-align: center;
  margin-block-start: auto;
  margin-right: 300px;
  font-size: medium;
  font-style: italic;
  font-weight: bold;
}
header nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background: rgb(57, 55, 55);
  font-size: medium;
}
header nav li {
  margin:0 15px;
}
header nav li:first-child {
  margin-left:0;
  color: green;
}
header nav li:last-child {
  margin-right:0;
}
@media(max-width:1000px) {
  header{
  flex-direction: column;
    
  }
}
@media(max-width:700px) {
  header{
    padding: 20px 50px;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header nav li{
    margin: 0 7px;
  }
}


section {
  display: -webkit-flex;
  display: flex;
  
}
.readMore {
  color: black;
  background-color: green;
  
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}
main section nav .fit-picture{
  width: 400px;
  height: 250px;
  margin-top: 150px;
  margin-left: 150px;
  padding: 15px;
  background-color: white;
}

main section article h1{
  font-size: 37px;
  color: white;
}
main section article span{
  font-size: 25px;
  color: white;
}
.sectionOne  {
  background: rgb(73, 71, 71);
  
}
.sectionTwo{
  background: white;
}

main .sectionTwo article h1{
  
  font-size: 30px;
  color: rgb(28, 26, 26);
}
main .section article span, h1,p,ul{
  font-size: 130%;
  color: rgb(38, 32, 32);
}
.hColor{
  display: block;
  text-decoration: underline;
  color: green;
  display: block;
  line-height: 2em;
  font-size: 50px;

    
}
.row img {
  width:90;
  height: 80px;
  margin-top: 5px;
  display: flex;
  background:rgb(223, 205, 223);
}
.row {
  display: flex;
  align-items: center;
  background:rgb(223, 205, 223);
  color: black;
  margin-top: 50px;
}

.row .img {
  max-height: 200px;
  margin-right: 15px;
  
  
  
}
.latestNews h1{
  display: block;
  font-size: 20px;
  background-color: rgb(85, 80, 80);
  color: white;
  height: 70px;
  margin-top: 100px;
  z-index: 10;
  width: 100%;
  display: -webkit-flex;
  display: moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 150px ;
  margin-bottom: 0;

}


footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
  -webkit-flex-direction: column;
  flex-direction: column;
  }
}



footer {
  padding: 10px;
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
          
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
.ft-main {
  justify-content: space-evenly;
 }
}

@media only screen and (min-width: 77.5rem /* 1240px */) {
 .ft-main {
  justify-content: space-evenly;
 }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #555;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}        
           